.thumb_fb {
    border-radius: 4px;
}

.fb_content {
    blockquote {
        i {
            font-family: 'DomaineDisplay';
            font-size: 30px;
            line-height: 44px;
            letter-spacing: 1px;
        }
    }
}
