.categories-list {
    li {
        width: 20%;
        a {
            img {
                width: 48px;
                height: 48px;
                // &::after {
                // content: '';
                // width: 80%;
                // height: 5px;
                // background-color: black;
                // display: block;
                //     }
            }
        }
    }
}
